body {
    text-transform: capitalize;
    height: 500vh;
}


.cryptoLogoStyling {
    width: 100px;
    height: 100px;
}

.parallax-header {

    background-repeat: no-repeat;
    /* Prevent the background from repeating */
    background-position: center;
    /* Center the background image */
    height: 60vh;
    /* Set the height */
    position: relative;
    /* Position relative to allow child elements to be positioned absolutely */
    z-index: -1;
    /* Ensure it stays behind other content */
    width: 100%;
    /* Ensure it covers the full width */
    margin: 0;
    /* Remove any default margin */
    padding: 0;
    /* Remove any default padding */
    /* box-shadow:
        0 0 20px 20px rgba(60, 250, 237, 0.1),
        0 0 20px 20px rgba(96, 221, 212, 0.2),
        0 0 20px 20px rgba(45, 224, 212, 0.3); */
}
.circle-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    justify-content: center;
    border: 1px solid rgb(16, 15, 15);
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.circle-img:hover {
    transform: scale(1.3); /* Scale the image to 110% on hover */
}

.circles-container {
    background-color: rgb(194, 191, 191,0.2);
    padding: 15px;
    width: 100%;
    height: 175px;
    text-align: center;
}


.circle-footer{
    margin-top: 5px;
    padding-top: 5px;
    text-align: center;
    font-size: small;
}


.searchStyle {
    justify-content: flex-end;
}


.navbar-nav {
    width: 100%;
    position: sticky;

}

.navbar-brand {
    display: none;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2000;
    /* Ensure it is above other content */
}

.navContainer {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    padding-top: 0;
    margin-top: 0;

}

.carusel-box {
    height: 50px;
}

.carousel-caption-text {
    font-size: 15px;
}

.carousel-inner {
    object-fit: cover;
    height: 25px;

}

.carousel-caption {
    border-radius: 10px;
    /* Add rounded corners */
    position: absolute;
    /* Position the caption absolutely within the carousel item */
    bottom: 0;
    /* Align the caption to the bottom of the carousel item */
    left: 0;
    /* Align the caption to the left side of the carousel item */
    width: 100%;
    /* Make the caption span the entire width of the carousel item */
    height: auto;
    /* Allow the caption height to adjust based on its content */
}

.carousel {
    position: fixed;
    top: 0;
    /* Place the carousel at the top of the viewport */
    width: 100%;
    height: 10px;
    /* Adjust the height as needed */
    z-index: 2500;
    /* Ensure a high z-index to keep it above other elements */
}

.carousel-control-prev-icon {
    margin-top: 5px;
    justify-content: center;
    height: 15px;
}

.carousel-control-next-icon {
    margin-top: 5px;
    justify-content: center;
    height: 15px;
}

#progress-bar {
    width: 100%;
    height: 10px;
    background-color: black;
    border-radius: 4px;
    top: 90px;
    /* Position it below the fixed navbar */
    position: fixed;
    /* Make the container sticky */

}

#progress-bar-container {
    background-color: black;
    height: 10px;
    margin: 0;
    z-index: 1500;
    /* Ensure it is above other content but below the carousel */
    position: fixed;
    /* Make the container sticky */
    top: 100px;
    /* Position it below the fixed navbar */
    padding: 0;
    /* Remove padding to ensure it fits correctly */
}


.custom-card-style {
    border-radius: 10px;
    box-shadow:
        0 0 0 2px rgba(80, 213, 223, 0.2),
        /* Outer black border */
        0 0 0 5px rgba(190, 236, 236, 0.2),
        /* Inner white border */
        0 0 10px rgba(0, 0, 0, 0.5);
    /* Depth effect */
}

.coin-container  .filter,
.coin-container  .cards
 {
    display: flex;
    background-color: #ffffff;

    padding-top: 10px;
    /* Set display to flex */
    flex-wrap: wrap;
    /* Allow cards to wrap to the next line */
    justify-content: space-between;
    /* Distribute space between cards */
    gap: 5px;
    /* Add gap between cards */
}

.cardOutputStyle {
    flex: 0 0 calc(33.33% - 100px);
    /* Adjust the width of each card */
    margin: 10px;

}

.cardOutputStyle .col-md-4 {
    display: flex;
    justify-content: center;
    /* Align items horizontally */
    align-items: center;
    /* Align items vertically */

}


/* coin output */
.coinInfoImg {
    width: 30px;
    height: 30px;
}

.coinInfoDiv {
    text-align: left;
    gap: 10px;
    font-size: small;

}


/* Hide default checkbox */
.toggle-switch input {
    display: none;
}

.card-body.text-bg-light.text-dark {
    position: relative;
    /* Set position to relative for the container */
}

.card-body {
    border-radius: 10px;
}


.slider {
    position: absolute;
    top: 10px;
    /* Adjust the top position for the toggle switch */
    right: 10px;
    /* Adjust the right position for the toggle switch */
    width: 40px;
    /* Adjust width of the toggle switch */
    height: 20px;
    /* Adjust height of the toggle switch */
    background-color: rgb(251, 244, 244);
    /* Default background color */
    border: 1px solid black;
    border-radius: 20px;
    transition: background-color 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: rgb(19, 19, 19);
    /* Default thumb color */
    border-radius: 50%;
    transition: transform 0.4s;
}


/* Adjust appearance when the toggle switch is checked */
.toggle-switch input:checked+.slider {
    background-color: rgb(11, 11, 11);
    /* Background color when checked */
}

.toggle-switch input:checked+.slider:before {
    transform: translateX(20px);
    /* Move thumb to the right when checked */
    background-color: white;
    /* Change thumb color to white when checked */
}

.slider-modal {
    width: 40px;
    /* Adjust width of the toggle switch */
    height: 20px;
    /* Adjust height of the toggle switch */
    background-color: rgb(251, 244, 244);
    /* Default background color */
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    /* Use inline-block to avoid overlap */
}

.slider-modal:before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    top: 2px;
    left: 2px;
    background-color: rgb(19, 19, 19);
    /* Default thumb color */
    border-radius: 50%;
    transition: transform 0.4s;
}

/* Adjust appearance when the toggle switch is checked */
.toggle-switch input:checked+.slider-modal {
    background-color: rgb(11, 11, 11);
    /* Background color when checked */
}

.toggle-switch input:checked+.slider-modal:before {
    transform: translateX(20px);
    /* Move thumb to the right when checked */
    background-color: white;
    /* Change thumb color to white when checked */
}

.card-title-about {
    text-align: center;
}




#resultList {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    /* Optional: adds space between items */
}

.hidden {
    display: none;
}

.canvasjs-chart-canvas {
    height: 100%;
    width: 100px;
    padding: 50px;
    margin: 50px;
}

.card-continer-about {
    background-color: white;
    /* RGBA color with 79% opacity */
    padding: 30px;
    height: 100px;
}

.about-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 0;
}


.about-img-container {

    background-color: rgb(167, 163, 163,0.2);
    background-size: cover;

    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



.about-text {
    text-align: center;
}

.card-about{
    height: 100%;
    width: 700px;
    margin: auto; /* Center the card horizontally */

}

#live-reports-sect,
#about-sect {
    display: none;
    /* Hide the sections initially */
}

.live-reports-header {
    /* position: absolute;
    top: calc(100px + 600px);
    */
    z-index: 1500;
    width: 100%;
}

#back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.topStrip {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1500;
    /* Higher z-index to place it above the navbar */
}

.topBar {
    position: fixed;
    top: calc(10px + 300px);
    /* Adjust top position to accommodate the carousel */
    width: 100%;
    z-index: 1000;
    /* Lower z-index to place it below the carousel */
}


.headerContainer {
    padding-top: calc(56px + 10px);
    /* Adjust padding to accommodate the fixed navbar and topStrip */
}


.navbar {
    position: fixed;
    top: calc(10px + 15px);
    /* Adjust top position to place it between header and carousel */
    width: 100%;
    z-index: 2000;
    /* Set a z-index higher than the header but lower than the carousel */
}

.topBar {
    position: fixed;
    top: 0px;
    /* Adjust top position to accommodate the navbar */
    width: 100%;
    z-index: 1500;
    /* Set a z-index lower than the navbar to ensure it stays behind */
}

.breadcrumb {
    text-align: center;
    justify-content: center;
    color: black;
}
.pageFooter{
bottom: 0;
}


.header-block {
    width: 100%;
    background-color: rgba(78, 214, 232, 0.1); /* Change this color as needed */
    color: rgb(16, 14, 14);
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

@media (max-width: 750px) {

  .about-img:nth-child(2) {
    left: inherit!important;
    top: 10%!important;
  }

  .navbar {
      top: 0;
  }

    .headerContainer {
        width: 100%;
        /* Optionally, adjust the height if needed */
        height: auto;
    }

    .mainHeaderStyle {
        width: 100%;
        /* Set the width to 100% */
        height: auto;
        /* Set the height to auto to maintain aspect ratio */
        max-width: 100%;
        /* Ensure the image doesn't exceed the container width */
        display: block;
        /* Ensure the image fills the container */
    }

    #header-main {
        width: 100%;
        height: 100%;
        padding-bottom: 0px;
    }
    .parallax-header {
        background-repeat: no-repeat;
        background-size: cover; /* Ensure the background image covers the entire element */
        background-position: center; /* Center the background image */
        height: 10vh; /* Adjust the height as needed */
        width: 80%; /* Adjust the width as needed */
        position: relative;
        z-index: -1;
        margin: 0 auto; /* Center the element horizontally */
        padding: 0;
    }
    
    



    .coin-container  .filter,
    .coin-container  .cards {
        justify-content: center;
        /* Center the cards */
    }

    .card-body {
        height: 100%;
        /* Set a fixed width for each container */
    }

    .cardOutputStyle {

        flex: 0 0 33.33%;
        /* Set each card to occupy one-third of the container width */
    }

  .card {
      height: 100%;
      /* Set a fixed width for each container */

  }

  /* coin output */
  .coinInfoImg {
      width: 30px;
      height: 30px;
  }

  .coinInfoDiv {
      text-align: left;
      gap: 10px;
      font-size: small;
  }

  .circles-container {
      display: none;
  }


  #progress-bar {
      width: 100%;
      height: 10px;
      background-color: black;
      border-radius: 4px;
      top: 50px;
      /* Position it below the fixed navbar */
      position: fixed;
      /* Make the container sticky */

  }

  #progress-bar-container {
      background-color: black;
      height: 10px;
      margin: 0;
      z-index: 1500;
      /* Ensure it is above other content but below the carousel */
      position: fixed;
      /* Make the container sticky */
      top: 50px;
      /* Position it below the fixed navbar */
      padding: 0;
      /* Remove padding to ensure it fits correctly */
  }


  .carusel-box {
      height: 50px;
  }

  .carousel-caption-text {
      font-size: 15px;
  }

  .carousel-inner {
      object-fit: cover;
      height: 25px;

  }

  .carousel-caption {
      border-radius: 10px;
      /* Add rounded corners */
      position: absolute;
      /* Position the caption absolutely within the carousel item */
      bottom: 0;
      /* Align the caption to the bottom of the carousel item */
      left: 0;
      /* Align the caption to the left side of the carousel item */
      width: 100%;
      /* Make the caption span the entire width of the carousel item */
      height: auto;
      /* Allow the caption height to adjust based on its content */
  }

  .carousel {
      position: fixed;
      top: 0;
      /* Place the carousel at the top of the viewport */
      width: 100%;
      height: 10px;
      /* Adjust the height as needed */
      z-index: 2500;
      /* Ensure a high z-index to keep it above other elements */
  }

  .carousel-control-prev-icon {
      margin-top: 5px;
      justify-content: center;
      height: 15px;
  }

  .carousel-control-next-icon {
      margin-top: 5px;
      justify-content: center;
      height: 15px;
  }
  .about-img:not(:nth-child(2)) {
      display: none;
  }
  .live-reports-header {
      z-index: 1500;
      top: calc(100px + 50px);
      width: 100%;
  }
  .card-about{
      height: 100%;
      width: 300px;
      margin: auto; /* Center the card horizontally */

  }
  .canvasjs-chart-canvas{
      height: 100%;
      width: 300px;
      margin: auto; /
  }

  *[class^="carousel-"] {
    display : none;
  }
}
